body,
html {
  /* background-color: rgb(246, 236, 207); */
  margin: 0;
  padding: 0;
}
.containerr {
  height: auto;
  width: auto;
  overflow-x: hidden;
}
.containerr > .content {
  margin: 0 10%;
}
.content {
  text-align: center;
}
@font-face {
  font-family: ananda;
  src: url("../font/Ananda\ Black\ Personal\ Use.ttf");
}
@media (max-width: 720px) {
  .content > h1 {
    margin-top: 20%;
    margin-bottom: 15%;
    font-family: ananda;
    font-size: 10px;
    color: rgb(241, 188, 91);
    text-shadow: 0 3px rgb(0, 0, 0);
  }
}
.content > h1 {
  margin-top: 20%;
  margin-bottom: 15%;
  font-family: ananda;
  font-size: 350%;
  color: rgb(241, 188, 91);
  text-shadow: 0 3px rgb(0, 0, 0);
}
.img1 {
  width: 100%;
  margin-top: -18%;
  margin-bottom: -10%;
}

.kegiatan {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1%;
}
.azzahir {
  width: 30%;
  height: 20%;
}
.alquran {
  width: 30%;
  height: 19%;
}
.text > * {
  display: flex;
  justify-content: space-evenly;
}
.text1 > * {
  font-size: 200%;
}
.text1 > h5:first-child {
  margin-right: 2%;
}
.text1 > h5:last-child {
  margin-left: 2%;
}
.text2 > * {
  width: 50%;
  text-align: justify;
  margin: 3%;
}
.tumbnail {
  margin-bottom: 10%;
  display: flex;
  justify-content: space-around;
}
.vidioazzahir {
  width: 580px;
  height: 320px;
}
.vidioberzanji {
  width: 580px;
  height: 320px;
}
.link > * {
  margin-bottom: 0px;
}
.link > p {
  font-weight: bold;
}
.link2 {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
.canvas {
  margin-top: -9%;
  height: auto;
  width: 100%;
  border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2%;
  /* background-color: rgb(241, 188, 91); */
  background-image: linear-gradient(white, rgb(241, 188, 91));
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.canvas > div {
  margin-top: 20%;
}
.canvas > div > div {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.canvas > div > div > div > a > svg {
  width: 50px;
  height: 25px;
}

@media (max-width: 720px) {
  .canvas > div > div > a > svg {
    width: 50px;
    height: 40px;
  }
}
.iframe {
  margin-bottom: 9%;
}
@font-face {
  font-family: aquarium;
  src: url("../font/aquarium/AQUARIUM.TTF");
}

/* css nama malka */
.nama {
  font-family: aquarium;
  font-size: 200%;
  text-align: center;
  margin-top: 1%;
  color: rgb(239, 239, 239);
}
.div-footer {
  text-align: center;
  line-height: 3%;
  font-weight: bold;
  color: white;
}
